[SddmGreeterTheme]
Name=Apollo OS Modern
Description=Apollo OS SDDM Login Theme - Cybersecurity Edition
Screenshot=screenshot.png
Website=https://github.com/apolloenv/apollo-os
Author=Manuel Kraibacher
Copyright=(c) 2025-2026, Manuel Kraibacher
License=MIT
Version=0.6.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=apollo-os-modern
Theme-API=2.2
QtVersion=6
