[Unit]
Description=Apollo OS Sleep TTS
Before=sleep.target

[Service]
Type=oneshot
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/home/apollo/.local/bin/apollo-os-sleep-tts.sh sleep

[Install]
WantedBy=sleep.target
